body {
  background-color: black;
}

h1 {
  color: #f2f759;
  font-family: 'Righteous', cursive;
  font-size: 5em;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

button {
  background-color: gainsboro;
  color: black;
  font-size: 1.5em;
  border-radius: 15px;
  font-family: 'Lucida Sans';
}

button:hover {
  background-color: aqua;
  color: darkslategrey;
}

p {
  color: #f2f759;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
}